<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geniusgithub.lookaround"
    android:versionCode="010001"
    android:versionName="1.00.01" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.geniusgithub.lookaround.LAroundApplication">
        
        <meta-data android:name="UMENG_APPKEY" android:value="522b3fba56240bf2741196f1"/>           
        <meta-data android:name="UMENG_CHANNEL"  android:value="gfan.com"/>

        <meta-data android:name="gfan_statistics_appkey" android:value="0CBBF474977FFDCD0941E98EE7E95C3D" /> 
        <meta-data android:name="gfan_cpid" android:value="gfan.com" />
        
        <service android:name="com.geniusgithub.lookaround.BackgroundService" android:enabled="true">
		</service>
        
        <activity
            android:name="com.geniusgithub.lookaround.activity.MainLookAroundActivity"
            android:label="@string/app_name" 
            android:theme="@style/MainTheme" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.geniusgithub.lookaround.activity.WelcomActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.geniusgithub.lookaround.test.TestProtocolActivity"
            android:label="@string/app_name" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.geniusgithub.lookaround.test.TestMainActivity"
            android:label="@string/app_name" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.geniusgithub.lookaround.test.TestDaoActivity"
            android:label="@string/app_name" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.geniusgithub.lookaround.test.TestWeiboActivity"
            android:label="@string/app_name" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.geniusgithub.lookaround.test.TestShareActivity"
            android:label="@string/app_name" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.geniusgithub.lookaround.content.PictureBrowerActivity"
            android:label="@string/app_name" >
        </activity>
        
       <activity
            android:name="com.geniusgithub.lookaround.content.WebViewActivity"
            android:label="@string/app_name" >
        </activity>
         
       <activity
            android:name="com.geniusgithub.lookaround.content.ContentActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.geniusgithub.lookaround.activity.set.SettingActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.geniusgithub.lookaround.activity.set.CollectActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.geniusgithub.lookaround.activity.set.AboutActivity"
            android:label="@string/app_name" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.geniusgithub.lookaround.activity.set.AdviseActivity"
            android:label="@string/app_name" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.geniusgithub.lookaround.weibo.sdk.ShareActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <!-- 
            	Adapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter的类，
            	这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。 
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data android:name="Adapter" android:value="cn.sharesdk.demo.MyAdapter" />
        </activity>
        
         <activity
            android:name="com.geniusgithub.lookaround.weibo.sdk.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:screenOrientation="portrait" />
        
    </application>

</manifest>